@model Product


<main role="main" class="main-content">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12">
                <form method="post" enctype="multipart/form-data">
                    <h2 style="text-align:center;" class="page-title">Product Create Form</h2>
                    <div class="card shadow mb-4">
                        <div class="card-header" style="text-align:center">
                            <strong class="card-title" style="font-size:17px">Product Details</strong>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group mb-3">
                                        <label asp-for="Name" for="simpleinput">Product Name</label>
                                        <input asp-for="Name" type="text" id="simpleinput" class="form-control">
                                        <span class="text-danger" asp-validation-for="Name"></span>
                                    </div>
                                    <div class="form-group mb-3">
                                        <label asp-for="Price" for="simpleinput">Price</label>
                                        <input asp-for="Price" type="text" id="simpleinput" class="form-control">
                                        <span class="text-danger" asp-validation-for="Price"></span>
                                    </div>
                                    <div class="form-group mb-3">
                                        <label asp-for="StockCount" for="simpleinput">Stock Count</label>
                                        <input asp-for="StockCount" type="text" id="simpleinput" class="form-control">
                                        <span class="text-danger" asp-validation-for="StockCount"></span>
                                    </div>
                                </div> <!-- /.col -->
                                <div class="col-md-6">
                                    <div class="form-group mb-3">
                                        <label asp-for="Category" for="custom-select">Categories</label>
                                        <select asp-items="@ViewBag.Categories" asp-for="CategoryId" class="custom-select" id="custom-select">
                                            <option selected>Show Categories</option>
                                        </select>
                                    </div>
                                    <div class="form-group mb-3">
                                        <label asp-for="Brand" for="custom-select">Brands</label>
                                        <select asp-items="@ViewBag.Brands" asp-for="BrandId" class="custom-select" id="custom-select">
                                            <option selected>Show Brands</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-mb-3">
                                        <label asp-for="TagProducts" for="multi-select2">Multiple Select</label>
                                        <select asp-items="@ViewBag.Tags" asp-for="Id" class="form-control select2-multi" id="multi-select2">
                                        </select>
                                    </div> <!-- form-group -->
                                </div>
                            </div>
                            <div class="row" style="justify-content:center;align-items:center;">
                                <div class="col-md-12" style="justify-content: center; align-items: center; display:flex;">
                                    <span class="custom-control custom-checkbox" style="margin:10px;">
                                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                                        <label class="custom-control-label" for="customCheck1">Featured</label>
                                    </span>
                                    <span class="custom-control custom-checkbox" style="margin:10px;">
                                        <input type="checkbox" class="custom-control-input" id="customCheck2">
                                        <label class="custom-control-label" for="customCheck2">Best Seller</label>
                                    </span>
                                    <span class="custom-control custom-checkbox" style="margin:10px;">
                                        <input type="checkbox" class="custom-control-input" id="customCheck1-1" disabled checked>
                                        <label class="custom-control-label" for="customCheck1">New Arrival</label>
                                    </span>
                                </div> <!-- /.col -->
                            </div>
                        </div>
                    </div> <!-- / .card -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card shadow mb-4" style="justify-content:center;align-items:center;">
                                <div class="card-header" style="text-align:center;font-size:17px;">
                                    <strong>Upload Images</strong>
                                </div>
                                <div class="form-group mb-3">
                                    <label asp-for="Image" for="customFile"></label>
                                    <div class="custom-file">
                                        <input asp-for="Image" type="file" class="custom-file-input" id="customFile">
                                        <label class="custom-file-label" for="customFile">Choose file</label>
                                    </div>
                                </div>
                            </div> <!-- .card -->
                        </div>

                    </div>
                    <div style="text-align:center">
                        <button type="submit" class="btn btn-primary me-2">Submit</button>
                        <a class="btn btn-dark" asp-action="index">Go back</a>
                    </div>
                </form>
            </div> <!-- .col-12 -->
        </div> <!-- .row -->
    </div> <!-- .container-fluid -->
</main>